:root {
  --background: #ffffff;
  --background-secondary: #f1f1f1;
  --background-other: #607d8b;
}

* {
  padding: 0;
  margin: 0;
}

#logo:hover {
  transform: scale(0.95);
}

/* .links {
  background-color: var(--background-other);
} */

#landing {
  min-height: 85vh;
  height: fit-content;
}

#about {
  min-height: 100vh;
  width: 95vw;
  margin: auto;
}

#marsrutai {
  margin: auto;
  min-height: 80vh;
  width: 85vw;
}

.primary-text {
  color: var(--background-other);
}

.languageIMG {
  width: auto;
  height: 1rem;
}

.landing-img {
  width: 45vw;
  height: auto;
}
